# Logs
Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# misc
.DS_Store
.AppleDouble
.LSOverride
.vs
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase cache
.firebaserc
firebase-debug.log
.firebase/
firebaserc
.firebase.json
database.rules.json
# web
web/firebase-config.js

# Compiled binary addons
dist
build/Release

# production
/build
/dist
app/css/
DerivedData/

# Dependency directories
node_modules/
/.pnp
.pnp.jsonapp/css

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn integrity file
.yarn-integrity

# dotenv environment variables file
.env

# webstorm user setting files
.idea

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Intellij
*.iml
.idea

# Android Studio
captures/
.externalNativeBuild

# Gradle files
.gradle/
build/

# Built Android application files
*.apk

# Local configuration file (ex. SDK path)
local.properties

# Google Services (ex. APIs and Firebase)
google-services.json
GoogleService-Info.plist

# Various Xcode settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Other Xcode files
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Chrome Extension related
*.pem
*.crx

# Local config/setup
database.rules.json
samples/android/Continote/app/src/main/res/values/strings.xml
samples/chrome-extension/Continote/scripts/config.js
samples/ios/Continote/Continote/Constants.swift
samples/ios/Continote/Continote/Info.plist
samples/ios/Continote/Continote.xcodeproj/project.pbxproj
samples/web/Continote/database.rules.json
samples/web/Continote/public/scripts/config.js

# Libraries for samples
samples/android/Continote/app/libs/*.aar
samples/chrome-extension/Continote/scripts/firebase-continue.js
samples/ios/Continote/Continote/FCNContinue.h
samples/ios/Continote/Continote/FCNContinue.m

# Misc.
.DS_Store
*.swp

